.price__container {
  max-width: 1400px;
}

.header__nav-link--noactive {
  color: var(--grey-link-color);
}

.speakers--heading {
  font-size: 61px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.filter__container {
  max-width: 1400px;
  margin-top: 0;
}

.header__bottom {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.header__breadcrumb-link {
  color: var(--main-theme-color);
}

.header__breadcrumb-link--noactive {
  pointer-events: none;
  color: var(--grey-link-color);
}

.header__link-separator {
  color: var(--grey-link-color);
}

.speakers__right-block {
  display: flex;
  justify-content: flex-end;
}

.speakers__text {
  padding-bottom: 20px;
  max-width: 678px;
}

.filter__spoiler {
  color: var(--grey-link-color);
}

/* ---------------------------- details/summary ---------------------------- */

.accordion {
  cursor: pointer;
  padding: 18px;
  margin: 20px 0 20px 0;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;

  font-family: Helvetica;
  font-weight: 300;
  font-size: 24px;
  line-height: 30.4px;
  text-align: left;

  background-color: transparent;
  color: var(--main-theme-color);
  border-bottom: 2px solid #9C9C9C;
}

.accordion:after {
  content: '\002B';
  /* color: #777; */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "hide filters \2212";

  font-family: Helvetica;
  font-weight: 300;
  font-size: 18px;
  line-height: 22.8px;
  color: var(--main-text-color);
}

.panel {
  display: flex;
  flex-flow: row wrap;
  max-height: 0;
  margin-bottom: 20px;

  overflow: hidden;
  transition: max-height .4s cubic-bezier(.14,.54,0,1.04);
}

.filter__btn {
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 300;
  line-height: 20.3px;
  color: var(--white-link-color);
  text-transform: uppercase;
}

.filter__btn-more {
  display: none;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: 300;
  line-height: 20.3px;
  color: var(--white-link-color);
  text-transform: uppercase;
}

.filter__btn:nth-child(4n) {
  margin-right: 0px;
}

.filter__btn--active {
  background: var(--main-btn--yellow);
  color: var(--main-btn--black);
  border-radius: 3px;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* ----------------- card item and styles ----------------- */

.price__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.price__item:nth-child(4n) {
  margin-right: 0px;
}

.price__item:hover .price__more {
  color: var(--second-text-color);
}

.price__item:hover .price__item-value {
  color: var(--main-btn--black);
}

.price__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 81px;
  margin-top: 14px;
}

.price__more {
  padding-top: 5px;

  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: var(--main-text-color);
  transition: .3s;
}

.price__item-name {
  margin: 0;
}

.price__item-value {
  padding-top: 20px;

  font-family: Helvetica;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.82px;
  color: var(--white-link-color);
  text-transform: uppercase;
  transition: .3s;
}

.subscribe__form-heading {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
}

.subscribe__btn {
  margin-top: 25px;
  height: 58px;
  width: 350px;
  background-color: transparent;
  border: 2px solid var(--main-btn--black);
  transition: .3s;
}

.subscribe__btn-link-label {
  color: var(--main-btn--black);
}

.subscribe__btn:hover {
  background-color: var(--main-btn--black);
}

.subscribe__btn:hover .subscribe__btn-link-label {
  color: var(--white-link-color);
}

.footer__social-icon { display: none; }

/* Каталог товаров */

.header__badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  background-color: var(--main-btn--yellow);
  transform: translateY(-.3em) translateX(1.3em);
}

.list-unstyled {
  display: flex;
  flex-wrap: wrap;
}

.price__item {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: solid 1px gray;
  border-radius: 3px;
  list-style: none;
  cursor: pointer;
}

.price__item:hover .price__more {
  color: var(--second-text-color);
}

.good-item__more {
  color: var(--second-text-color);
}

.price__item:hover .good-item__price {
  color: var(--main-btn--black);
}

.good-item__btn-add {
  margin-top: 30px;
}

/* Корзина */

.cart-item__btn-dec-count {
  margin-right: 10px;
  cursor: pointer;
}

.cart-item__btn-inc-count {
  margin-left: 10px;
  cursor: pointer;
}

.cart-item__btn-remove {
  padding: 20px;
  cursor: pointer;
}

.table-bordered .cart-item {
  background-color: blueviolet;
}

.cart-summary {
  margin: 40px;
  color: white;
}

.table-bordered {
  margin: 40px;
  color: white;
}
