.subscribe__wrapper {
  margin-bottom: 150px;
}

.subscribe__input-inline {
  margin-top: 25px;
  max-height: 58px;
  display: flex;
}

.subscribe__label {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.subscribe__input {
  margin-right: 20px;
  padding: 20px;
  width: 384px;

  background-color: var(--main-theme-color);
  border: 2px solid #1A1F24;
  border-radius: 3px;
}

.subscribe__input::placeholder {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: var(--main-btn--black);
}

.subscribe__input {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: var(--main-btn--black);
}

.button-link-label {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  color: #EDEDED;
  transition: .5s;
}

.main-btn--black {
  width: 220px;
}

.main-btn--black:hover .button-link-label {
  color: var(--main-btn--black);
}

.subscribe__policy {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: left;
  color: var(--main-btn--black);
  text-transform: lowercase;
}

.subscribe__img {
  width: 582px;
  height: 495px;
  position: relative;
  top: -385px; right: -773px;
}
